.body{
	background-color: white;
}
.calculator{
	background-color: #9EEBA1;
	border-radius: 25px;
	border-left: 0.5px solid #c0f2c1;
    border-top: 0.5px solid #c0f2c1;
    border-bottom: 0.5px solid #95EA94;
    border-right: 0.5px solid #95E9A4;
	box-shadow: 0px 0px 34px rgba(33,62,83,0.3) inset , -27px 32px 125px #479F41;
 	-moz-box-shadow: 0px 0px 34px rgba(33,62,83,0.3) inset, -27px 32px 125px #479F41;
 	-webkit-box-shadow: 0px 0px 34px rgba(33,62,83,0.3) inset, -27px 32px 125px #479F41;
}
#currentData h4{
	font-size: 1.5em;
	text-align: right;
	position: relative;
	margin-right: 0.3em;
	margin-top: 0.5em;
	margin-bottom: 0.6em;
}
#completeData h6{
	font-size: 1em;
	text-align: right;
	position: relative;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	margin-right: 0.3em;
}

.key{
	border-radius: 6px 6px  6px 19px;
	border: 1px solid #77aaff;
	background-color: white;
}
.key h3{
	font-size: 1em;
	text-align:center;
    position:relative;
}
.effect{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect:before, .effect:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.screen{
	background-color: #e6e6e6;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(33,62,83,0.44) inset;
 	-moz-box-shadow: 0px 0px 10px rgba(33,62,83,0.44) inset;
 	-webkit-box-shadow: 0px 0px 10px rgba(33,62,83,0.44) inset;
}
.title h4{
	margin-bottom: 0.5em;
	margin-top: 2em;
}
